.body {
    background-color: cornsilk;
}
.nav-item {
    margin: 5px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', serif;
    font-size: 30px;
}

.btn-outline-dark {
    font-family: 'Times New Roman', serif;
    font-size: 15px;
}

.card-title {
    font-weight: bold;
    font-family: Arial, sans-serif
}

.card-text {
    font-family: Arial, sans-serif
}
