{% block sidebar %}
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="btn btn-dark btn-lg" href={% url 'kitchen:index' %}>Нome</a>
          </li>

          <li class="nav-item">
            <a class="btn btn-dark btn-lg" href={% url 'kitchen:cook-list' %}>Cooks</a>
          </li>

          <li class="nav-item">
            <a class="btn btn-dark btn-lg" href={% url 'kitchen:dish-list' %}>Dishes</a>
          </li>

          <li class="nav-item">
            <a class="btn btn-dark btn-lg" href={% url 'kitchen:dish-type-list' %}>Dish Types</a>
          </li>

          <li class="nav-item">
            <a class="btn btn-dark btn-lg" href={% url 'kitchen:ingredient-list' %}>Ingredient</a>
          </li>
        </ul>
{% endblock %}