{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="content-detail">
    <div class="content-detail">
    {% if user.username in cook.username or user.is_staff %}
      <div>
        <div style="float: left">
          <a class="upd_url btn btn-outline-light" href="{% url 'kitchen:cook-update' pk=cook.id %}">Update</a>
        </div>
  
        <div style="float: right">
          <a class="del_url btn btn-outline-light" href="{% url 'kitchen:cook-delete' pk=cook.id %}">Delete</a>
        </div>
      </div>
    {% endif %}
    <div class="title-red">
      <h1> {{ cook.first_name}} {{ cook.last_name }} </h1>
      <h4> User name: {{ cook.username }}</h4>
    </div>

    {% if cook.email  %}
      <p> Email: {{ cook.email }}</p>
    {% endif %}
    {% if cook.years_for_experience %}
      <p>Year for experience : {{ cook.years_for_experience }}</p>
    {% endif %}
    {% if cook.dishes.all %}
      <h4 style="color: darkolivegreen">List of dishes from the chef:</h4>
      {% for dish in cook.dishes.all %}
        <ul class="list-group">
          <li class="list-group">
            <a href={% url 'kitchen:dish-detail' dish.id %} style="color:white"> {{ dish.name }} </a>
          </li>
        </ul>
      {% endfor %}
    {% endif %}

  </div>

{% endblock %}
