{% extends 'base.html' %}
{% load static %}


{% block content %}

  <div class="content-detail">
    <div>
      <div style="float: left">
        <a class="upd_url btn btn-outline-light" href="{% url 'kitchen:dishes-update' pk=dish.id %}">Update</a>
      </div>

      <div style="float: right">
        <a class="del_url btn btn-outline-light" href="{% url 'kitchen:dishes-delete' pk=dish.id %}">Delete</a>
      </div>
    </div>

    <div class="title">
      <h1> {{ dish.name}} ({{ dish.dish_type }}) </h1>
    </div>

    {% if dish.description %}
      <h4 style="color: darkolivegreen">Description :</h4>
      <pre style="color: white"> {{ dish.description }}</pre>
    {% endif %}
    {% if dish.cooks.all %}
      <h4 style="color: darkolivegreen"> Authors of dishes:</h4>
      {% for cook in dish.cooks.all %}
        <ul class="list-group">
          <li class="list-group">
            <a href={% url 'kitchen:cook-detail' cook.id %} style="color:white"> {{ cook.first_name }} {{ cook.last_name }} </a>
          </li>
        </ul>
      {% endfor %}
    {% endif %}

{% endblock %}