{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="content-index">

    <div class="title-red">
      <h1> Welcome to the kitchen </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <a href={% url 'kitchen:cook-list' %}>
            <img src= "{% static 'css/kitchen/images/image_cooks_nav.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" >Cooks</h5>
              <p class="card-text"> Here is a list of famous chefs who have their own delicious recipes.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <a href={% url 'kitchen:dish-list' %}>
            <img src="{% static 'css/kitchen/images/image_dishes_nav.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dishes</h5>
              <p class="card-text">Here you will find a list of the most delicious dishes from our chefs.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <a href={% url 'kitchen:dish-type-list' %}>
            <img src="{% static 'css/kitchen/images/image_ензу_dishes_nav.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dish Types</h5>
              <p class="card-text">The most popular types of dishes around the world.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <a href={% url 'kitchen:ingredient-list' %}>
            <img src="{% static 'css/kitchen/images/image_engridients_nav.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ingedients</h5>
              <p class="card-text">A list of the freshest ingredients from which our dishes are prepared.</p>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
{% endblock %}