{% extends 'base.html' %}

{% block content %}

  <div class="content-list">
    <div style="float: left">
      <a href="{% url 'kitchen:ingredient-create' %}" class="btn btn-light">
      ➕
      </a>
    </div>
    <div class="title">
      <h1> List dish types </h1>
    </div>

    {% for ingredient in ingredient_list %}
      <ul class="list-group">
        <li class="list-group">
          <h2 style="color: white">
            {{ ingredient.name }}
            <a href="{% url 'kitchen:ingredient-update' pk=ingredient.id %}">Update</a>
            <a style="color: red" href="{% url 'kitchen:ingredient-delete' pk=ingredient.id %}">Delete</a>
          </h2>
        </li>
      </ul>
    {% endfor %}

  </div>

{% endblock %}