@font-face {
    font-family: Gagalin;
    src: url(fonts/Gagalin.ttf);
}
@font-face {
    font-family: Gunnyrewritten;
    src: url(fonts/gunnyrewritten.ttf);
}

body {
    background-color: black;
}

a {
    color: black;
}

a:hover {
    color: darkslategrey;
}

.nav-item {
    margin: 10px;
}
.nav{
    display: inline;
}
.title {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Gagalin", serif;
    font-size: 50px;

}

.btn {
    font-family: "Arial Black", serif;
    font-size: 15px;
}

.card-title {
    font-weight: bold;
    font-family: "Arial Black", serif;
}

.card-text {
    font-family: Arial, sans-serif
}

.content-list{
    background-image: url(images/image_list_backgraund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px 20px;
    text-align: center;
    color: black;
    height: 100vh;
    font-family: Gunnyrewritten;
}

.content-detail{
    text-align: center;
    color: white;
    height: 100vh;
}

.content-created{
    text-align: center;
    color: white;
    height: 100vh;
}
.login{
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}

.username{
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bolder;
}

